@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    /*poner todo centrado en la pantalla*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, #F2C4E5 20%, #B779DD 100%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock {
    font-size: 32px;
    text-shadow: -1px 0px 15px rgba(0, 0, 0, 0.25);
    color: #911175;
}

.number {
    display: inline-block;
    width: 140px;
    font-size: 128px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border: none;
    color: #911175;
    background-color: transparent;
}

.buttons button {
    margin: 0 7px;
    padding: 40px;
    border: none;
    border-radius: 50%;
}

#play {
    background-image: url('../img/play.png');
    background-position: center;
    background-repeat: no-repeat;
}

#stop {
    background-image: url('../img/stop.png');
    background-position: center;
    background-repeat: no-repeat;
}

#play:active {
    background-color: lightgreen;
}

#stop:active {
    background-color: lightcoral;
}